#footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.table {
  display: inline;
  list-style: none !important;
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}

.margins {
  margin: 16px;
}
